<nb-layout>
    <nb-layout-header subheader>
        <!-- <h5 style="right: auto;">秋风不渡</h5> -->
        <span>
            <button nbButton shape="semi-round" size="small" status="primary" class="mr-4"
            nbPopover="二七你要好好学习呦，漫漫爱你！" nbPopoverPlacement="bottom">我很可爱，你点点我嘛</button>
        </span>
    </nb-layout-header>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div id="lineChart" style="width: 600px;height:400px;"></div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <div id="chart2" style="width: 600px;height:400px;"></div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div id="main" style="width:800px;height:500px"></div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>