<nb-layout>
    <nb-layout-header subheader>
        <h5>秋风不渡</h5>
    </nb-layout-header>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div id="lineChart" style="width: 600px;height:400px;"></div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <div id="chart2" style="width: 600px;height:400px;"></div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div id="main" style="width:800px;height:500px"></div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>